# ========================
# Node / Turborepo
# ========================
node_modules/
dist/
.turbo/

# ========================
# Python
# ========================
venv/
__pycache__/
*.pyc
*.pyo
*.whl

# ========================
# Environment variables
# ========================
.env

# ========================
# Databases
# ========================
*.db

# ========================
# OS / Editor junk
# ========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log
